body {
  color: black;
  font-family: PTSans, Arial, serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  }

h1 {
  color: black;
  font-family: PTSans, Arial, serif;
  font-size: 30px;
  font-weight: 700;
  }

h2 {
  color: black;
  font-family: PTSans, Arial, serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  }
